@font-face {
    font-family: 'EthiopicWookianos';
    src: url('fonts/EthiopicWookianos.eot');
    src: url('fonts/EthiopicWookianos.eot?#iefix') format('embedded-opentype'),
         url('fonts/EthiopicWookianos.woff') format('woff'),
         url('fonts/EthiopicWookianos.ttf') format('truetype'),
         url('fonts/EthiopicWookianos.svg#EthiopicWookianos') format('svg');
    font-weight: normal;
    font-style: normal;
}

.geeztext{
    font-family: 'EthiopicWookianos',Helvetica;
}

input,textarea
{
    font-family: 'EthiopicWookianos',Helvetica;
}