@font-face {
    font-family: 'EthiopicFantuwua';
    src: url('fonts/EthiopicFantuwua.eot');
    src: url('fonts/EthiopicFantuwua.eot?#iefix') format('embedded-opentype'),
         url('fonts/EthiopicFantuwua.woff') format('woff'),
         url('fonts/EthiopicFantuwua.ttf') format('truetype'),
         url('fonts/EthiopicFantuwua.svg#EthiopicFantuwua') format('svg');
    font-weight: normal;
    font-style: normal;
}

.geeztext{
    font-family: 'EthiopicFantuwua',Helvetica;
}

input,textarea
{
    font-family: 'EthiopicFantuwua',Helvetica;
}