<script type="text/javascript">
    $(document).ready(function () {
        $("#sample3tabs").tabs();
    });
</script>
<div id="sample3tabs" class="tabs-bottom">
    <ul>
		<li><a href="#sample3tabs-1">Demo</a></li>
		<li><a href="#sample3tabs-2">Code</a></li>
	</ul>
    <div id="sample3tabs-1">
        <div style="float: left; width: 400px;">
            <p class="chat">
               Chat with Abule / <span class="geeztext">ከአቡሌ ጋር ጨዋታ</span> </p>
            <div>
                <img style="float:left;" src="../../Samples/Images/Abule.png" />
                <div style="float:left;width:10px;">
                    +
                </div>
                <div style="float:left;width:307px;border:1px solid lightgray;padding-left:3px;" class="geeztext">
                ጤና ይስጥልኝ!! life እንዴት ነው?
                </div>
            </div>
            <br class="reset" />
            <textarea id="chattextbox" rows="5" style="width: 350px;" jgeez-englishbutton="chatenglishbutton" jgeez-geezbutton="chatgeezbutton" jgeez-helpbutton="chathelpbutton">
            </textarea>
            <div style="margin-top: 5px; width: 355px;">
                <a id="chatgeezbutton" class="button icon-button" style="float: left;"><span class="geeztext">አማርኛ </span> (ctrl+q)</a> 
                <a id="chatenglishbutton" class="button icon-button" style="float: left;">English (ctrl+q)</a>
                <a id="chathelpbutton" class="button icon-button" style="float:left;">help</a>
                <a class="button" style="float: right;">
                        submit</a>
            </div>
        </div>
        <div style="float: left; width: 450px;">
        <p class="information">
            in an environment where toggle between english and geez is frequent and the user
            is quite acustomed to the whole geez typing (jGeez) realm, the library provides a quick
            shortcut to toggle back and forth. The default is ctrl+q. although you have an option to change
            this on the library, I highly recommend you don't unless you have this shortcut already in use.
        </p>
        </div>
        <br class="reset" />
    </div>
    <div id="sample3tabs-2">
        <div class="codeblock">
            &lt;div style=&quot;float: left; width: 400px;&quot;&gt;
        <br />
&nbsp;&nbsp;&nbsp; &lt;p class=&quot;chat&quot;&gt; Chat with Abule / &lt;span class=&quot;geeztext&quot;&gt;ከአቡሌ ጋር&nbsp;&nbsp;&nbsp; 
        ጨዋታ&lt;/span&gt;
        <br />
&nbsp;&nbsp;&nbsp; &lt;/p&gt;
        <br />
&nbsp;&nbsp;&nbsp; &lt;div&gt;
        <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;img style=&quot;float:left;&quot; 
        src=&quot;../../Samples/Images/Abule.png&quot; /&gt;
        <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;div style=&quot;float:left;width:10px;&quot;&gt; + &lt;/div&gt;
        <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;div style=&quot;float:left;width:307px;border:1px 
        solid lightgray;padding-left:3px;&quot; class=&quot;geeztext&quot;&gt; ጤና ይስጥልኝ!! life እንዴት
        <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ነው?
        <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;/div&gt;
        <br />
&nbsp;&nbsp;&nbsp; &lt;/div&gt;
        <br />
&nbsp;&nbsp;&nbsp; &lt;br class=&quot;reset&quot; /&gt;
        <br />
&nbsp;&nbsp;&nbsp; &lt;textarea id=&quot;chattextbox&quot; rows=&quot;5&quot; style=&quot;width: 350px;&quot; 
        jgeez-englishbutton=&quot;chatenglishbutton&quot;
        <br />
&nbsp;&nbsp;&nbsp; jgeez-geezbutton=&quot;chatgeezbutton&quot; jgeez-helpbutton=&quot;chathelpbutton&quot;&gt; 
        &lt;/textarea&gt;
        <br />
&nbsp;&nbsp;&nbsp; &lt;div style=&quot;margin-top: 5px; width: 355px;&quot;&gt;
        <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;a id=&quot;chatgeezbutton&quot; class=&quot;button 
        icon-button&quot; style=&quot;float: left;&quot;&gt;&lt;span class=&quot;geeztext&quot;&gt;አማርኛ &lt;/span&gt; 
        (ctrl+q)&lt;/a&gt;
        <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;a id=&quot;chatenglishbutton&quot; class=&quot;button 
        icon-button&quot; style=&quot;float: left;&quot;&gt;English (ctrl+q)&lt;/a&gt;
        <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;a id=&quot;chathelpbutton&quot; class=&quot;button 
        icon-button&quot; style=&quot;float:left;&quot;&gt;help&lt;/a&gt;
        <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;a class=&quot;button&quot; style=&quot;float: right;&quot;&gt; 
        submit&lt;/a&gt;
        <br />
&nbsp;&nbsp;&nbsp; &lt;/div&gt;
        <br />
        &lt;/div&gt;
        </div>
    </div>
</div>