@{
    ViewBag.Title = "Overview";
}

@section body
{
<div class="onecolumn" style="overflow:auto;">
            <h1>
                jGeez overview</h1>
            <p>
                &nbsp;&nbsp;&nbsp; We have gone through generations of remarkable milestones in
                transitioning geez into the digital world. Starting from the advent of Power Geez
                to geez keyboards and google transliteration, how a geez literal user interacts
                with his/her system has been improving one step at a time. When we look at the field
                of web development, geez literal has been a cancer to achieving a smooth user experience
                and a dreadful burden to the overall look and feel of the graphic design.
            </p>
            <p>
                &nbsp;&nbsp;&nbsp; In addition to missing geez fonts (those squares) typing geez
                directly is limited to users who have the appropriate font and software installed
                on their devices. I have seen some Ethiopian websites that were able to incorporate
                their own custom javascript to enable users to directly type in their website without
                a need to install key map software. Some of them were even very impressive (ie ethiotube.net)
                but all these distributed effort created redundant libraries that do the same thing
                and left web users to learn different key maps when they switch from one web application
                to the other. All in all it goes without say that incorporating geez is one of the
                most painful phase in web development.
            </p>
            <p>
                &nbsp;&nbsp;&nbsp; So what if there was a way to integrate geez typing with just
                a couple of lines of code? That is what jGeez is. jGeez is a jquery based javascript
                library that lets web developers quickly add geez typing to their web application
                projects. This library utilizes the font-face css to ensure users ability to view
                geez characters even if they don’t have any geez font installed on their devices.
                Some of the great features of this library are detailed below.
            </p>
            <div class="twocolumn featuredetail">
                <p class="card">
                    <img align="left" src="../../Content/themes/base/images/crossbrowser.png" />
                    <strong>Cross Browser support</strong>
                    <br />
                    This library relies on the cross browser nature of jquery library, which means it
                    will work on any modern browsers which are ie5+, firefox, google chrome and safari.
                </p>
            </div>
            <div class="twocolumn featuredetail">
                <p class="card">
                    <img align="left" src="../../Content/themes/base/images/multidevice.png" />
                    <strong>Multi Device support</strong>
                    <br />
                    This library also has been tested on different devices ranging from PC desktops
                    to tablets (ipads) and smart phones and works on most of them. (well there are a
                    lot of devices out there please let me know if it doesn’t work on yours).
                </p>
            </div>
            <div class="twocolumn featuredetail">
                <p class="card">
                    <img align="left" src="../../Content/themes/base/images/fonts.png" />
                    <strong>No font installation required from the user</strong>
                    <br />
                    This library includes a css (cascading style sheet) that installs the geez fonts
                    required for it to work on demand. This means users don’t have download and install
                    any geez font. The library would work without any demand from the user to download
                    any font.
                </p>
            </div>
            <div class="twocolumn featuredetail">
                <p class="card">
                    <img align="left" src="../../Content/themes/base/images/help.png" />
                    <strong>Comprehensive typing help documentation for users</strong>
                    <br />
                    Included with this library is a full documentation of keyboard interpretation, English
                    letter to geez, along with simple description of how to type using jGeez. Once again
                    you don’t have write a single line describing how to write in geez literals.
                </p>
            </div>
            <div class="twocolumn featuredetail">
                <p class="card">
                    <img align="left" src="../../Content/themes/base/images/install.png" />
                    <strong>No software installation required from the user</strong>
                    <br />
                    One of the big pluses is the users don’t have to download and install any proprietary
                    software that are used to let users type geez literals on your website. This relieves
                    developers from ever worrying about placing different software for different devices
                    and platforms. And it won’t have to inconvenience users from downloading the application
                    and installing it on their system.
                </p>
            </div>

            <div class="twocolumn featuredetail">
                <p class="card">
                    <img align="left" src="../../Content/themes/base/images/free.png" />
                    <strong>Free of charge</strong>
                    <br />
                    Well its free to use for personal or business website, you are allowed to download
                    and modify and distribute the code, just out of professional courtesy leave the
                    name of the library intact and the first five lines in the java script file. Please
                    read the “terms and conditions” section of this website for further understanding
                    of my responsibilities and the extent of using the jGeez brand in your custom code.
                </p>
            </div>

            <div class="twocolumn featuredetail">
                <p class="card">
                    <img align="left" src="../../Content/themes/base/images/simple.png" />
                    <strong>Extremely simple and intuitive implementation</strong>
                    <br />
                    With lots of room for customization, this library is literally 5 lines (<span style="color:Red;">*correction make it 2 lines from jGeez 1.1+</span>)  of code away
                    from implementation in to any web application project. As described in developer’s
                    guide section of this website, there are a couple of ways you can customize its
                    implementation. And for all of you advanced developers there is a fully documented
                    developer version of the library where the sky is the limit for you. Just on the
                    side note, if you have any feature enhancement suggestions or custom code you introduced
                    to the library please do let me know so that the world can share your innovations.
                </p>
            </div>

             <div class="twocolumn featuredetail">
                <p class="card">
                    <img align="left" src="../../Content/themes/base/images/multiplefonts.png" />
                    <strong>Multiple fonts available</strong>
                    <br />
                    With ten different font available (as of version 1.2.0.0) for you to use when intetgrating jgeez into
                    you web application, this library makes it insanely easy for web developers to choose fonts that suits their
                    taste and layout. the unpredictalbility injected by how the browser or the oprating system chooses to render
                    your fonts makes life harder when envisioning a fluid user experience. the introduction of this flexibility to 
                    choose fonts also alows developers to utilize fonts that are bandwidth efficient or sharp and elegant depending on the developers needs.
                </p>
            </div>

            <br class="reset" />
        </div>
}

